body {
    font-family: "Roboto",sans-serif;
    color: #2e2f42;
    background-color: #fff;
    line-height: 1.5;
}

.container {
    max-width: 1440px;
    padding-left: 141px;
    padding-right: 141px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.main-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    margin-right: 332px;
}

.header-address {
    width: 100%;
    background-color: #fff;
    display: flex;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway";
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #2e2f42;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-color {
    font-family: "Raleway";
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

ul {
    list-style: none;
}

.nav-list-item {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: inherit;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404bbf;
}

.address-list-item {
    font-style: normal;
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0.02em;
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404bbf;
}

.main-section {
    background-color: #2e2f42;
}

.main-title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    display: block;
    justify-content: center;
    padding-top: 188px;
    padding-right: 472px;
    padding-bottom: 292px;
    padding-left: 472px;
    margin-bottom: 0;
}

.button {
    background-color: #4d5ae5;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    display: block;
    padding: 16px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.features-header {
    display: none;
}

.team-header,
.portfolio-header {
    text-align: center;
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
} 

.features-section .container {
    display: flex;
    justify-content: space-evenly;
}

.features-list {
    display: flex;
    gap: 24px;
    margin-top: 120px;
    margin-right: auto;
    margin-bottom: 120px;
    margin-left: auto;
} 

.features-list-item {
    width: 264px;
}

.features-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: inherit;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
}

.team-header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 120px;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;
}

.team-section .container {
    display: flex;
    justify-content: space-evenly;
}

.team-list {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 24px;
    margin-top: 72px;
    justify-content: space-evenly;
    padding-right: auto;
    padding-left: auto;
}

.header-team-item {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
}

.paragraph-team-item {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
}

.team-list-item {
    display: block;
    background-color: #ffffff;
    display: block;
    margin-bottom: 120px;
}

.team-item-person {
    text-align: left;
}


.portfolio-header {
    margin-top: 120px;
    margin-right: auto;
    margin-bottom: 72px;
    margin-right: auto;
}


.portfolio-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}

.portfolio-list-box {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    margin-top: 0;
    margin-bottom: 48px;
}

.header-portfolio-item{
    display: flex;
    padding-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.paragraph-portfolio-item {
    margin-left: 16px;
    margin-bottom: 32px;
}


.header-portfolio-item:hover,
.header-portfolio-item:focus,
.paragraph-portfolio-item:hover,
.paragraph-portfolio-item:focus {
   color: #2e2f42; 
}

.footer {
    background-color: #2e2f42;
}

.logo-footer {
    display: inline-flex;
    margin-top: 100px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #f4f4fd;
    text-transform: uppercase;
}


.paragraph-footer {
    display: flex;
    width: 264px;
    padding-top: 18px;
    padding-right: auto;
    padding-bottom: 100px;
    padding-left: auto;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: inherit;
}
